<h1>Dragon Ball Z</h1>

<ng-template #available >
    <span class="highline">
        Curso Disponible
    </span>
</ng-template>

<p *ngIf="!isAvailable; else available">
    Lanzamiento: {{ launchDate | date:"dd MMM y h:mm:ss" : "-0300" | uppercase }}
</p>

<div class="category" [ngSwitch]="category">
    <span *ngSwitchCase="'web'">Desarrollo Web</span>
    <span *ngSwitchCase="'mobile'">Desarrollo Móvil</span>
    <span *ngSwitchCase="'other'">Desarrollo General</span>
    <span *ngSwitchDefault>No especificado</span>
</div>

<h3 [redBorder]="'pink'">Tutor: {{ name }}</h3>

<div [@showUp]="moreInformation" style="overflow: hidden;"> 
    <a (click)="toggleMoreInformation()">
        Más información
        <i class="fa" [ngClass]="{'fa-chevron-circle-down' : !moreInformation, 'fa-chevron-circle-up': moreInformation}"></i>
    </a>
    <div>
        <span class="lblDuracion">Duracion: {{ seconds | secondsToTimeFormat : true }}</span>
        <p>
            Este es un curso de Angular Profesional con duración de muchas horas y se aprenderan temas sobre Componentes,
            Servicios, Animaciones, Modulos, fundamentos del framework y mucho más
        </p>
    </div>
</div>

<ul *ngFor="let topic of topics; index as posicion">
    <li>{{posicion + 1}}.- {{topic}}</li>
</ul>


<div>
    <button [disabled]="!isAvailable || subscribed" [ngClass]="{active:isAvailable && subscribed, shadow:!isAvailable}" type="button" name="button">
        Inscribir {{ price | currency}}
    </button>
</div>